.slide {
  min-width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../../assets/img/organs/bigIce.png') 20% 100% no-repeat,
  url('../../assets/img/organs/iceMedium.png') 100% 50% no-repeat,
  url('../../assets/img/organs/iceSmall.png') 0 7% no-repeat,
  url('../../assets/img/bg.png') no-repeat;
  background-size: 150px 150px, 100px 100px, 50px 50px, auto;
  transition: all 0.5s ease-out;
}

.main-content {
  display: flex;
  flex-direction: row;
}